

.background-undergraduate{
  margin-top:-60px;
}
.undergraduate{
  padding:100px 0px;
}

.title{
  @include title(AvenirLTStd-BLACK, 45px, $title-color-blue, center, auto);
}

.undergraduate-description{
  @include title(AvenirLTStd-Roman, 26px, $title-color-black, justify, 35px);
}
.undergraduate-title-program{
  @include title(AvenirLTStd-BLACK, 26px, $title-color-blue, center, auto);
}


.card{
  border-width:0px;
  margin:20px;
  color:$title-color-black;
  border-style: solid;
  background-color:$white;
  padding:20px;
  font-family: AvenirLTStd-Roman;
  height: 1000px;
  -webkit-box-shadow: 0px 0px 44px -11px rgba(112,111,112,1);
  -moz-box-shadow: 0px 0px 44px -11px rgba(112,111,112,1);
  box-shadow: 0px 0px 44px -11px rgba(112,111,112,1);
}

.iconProgram{
  padding:50px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.card p strong {
  color:$title-color-black;
  font-size: 22px;
  font-weight: bold;
  
}
.card ul {
  list-style: none;
}

.card ul li {
  font-size: 22px;
  margin-top:15px;
  margin-bottom:15px;
}

.card ul li::before {
  content: '-';
  color:$title-color-black;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}


@media only screen and (max-width: 1000px) {
  
.background-undergraduate{
  margin-top:0px;
}
.undergraduate{
  padding:10px 0px;
}

.title{
  @include title(AvenirLTStd-BLACK, 24px, $title-color-blue, center, auto);
}

.undergraduate-description{
  @include title(AvenirLTStd-Roman, 16px, $title-color-black, justify, 30px);
  padding-left:32px;
  padding-right:32px;
  margin-top:-50px;
}
.undergraduate-title-program{
  @include title(AvenirLTStd-BLACK, 24px, $title-color-blue, center, auto);
}


.card{
  border-width:0px;
  margin:20px;
  color:$title-color-black;
  border-style: solid;
  background-color:$white;
  padding:32px;
  font-family: AvenirLTStd-Roman;
  height: auto;
  -webkit-box-shadow: 0px 0px 44px -11px rgba(112,111,112,1);
  -moz-box-shadow: 0px 0px 44px -11px rgba(112,111,112,1);
  box-shadow: 0px 0px 44px -11px rgba(112,111,112,1);
}

.iconProgram{
  padding:10px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card p strong {
  color:$title-color-black;
  font-size: 16px;
  font-weight: bold;
  
}
.card ul {
  list-style: none;
}

.card ul li {
  font-size: 16px;
  margin-top:15px;
  margin-bottom:15px;
}

.card ul li::before {
  content: '-';
  color:$title-color-black;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
}
