

.bgHead{
  background: url(../assets/Slicing/BG-Head.jpg) no-repeat;
  background-position: center;
  background-size: contain;
  height:1000px;
  margin-top:-20px;
}
.header{
  padding:100px 0px;
}
.title-white{
  padding-top:100px;
  font-family: AvenirLTStd-BLACK;
  font-size: 60px;
  font-weight: bold;
  color:$white;
  line-height:85px;
}
.title-description{
  font-family: AvenirLTStd-Roman;
  font-size: 22px;
  font-weight: bold;
  color:$white;
  line-height:35px;
}
.image-header{
  width:650px;
  margin-top:100px;
  margin-left:50px;
}

@media only screen and (max-width: 1000px) {
  .bgHead{
    background: url(../assets/Slicing/BG-Head.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height:300px;
    margin-top:10px;
  }
  .header{
    padding:16px;
  }
  .title-white{
    padding-top:0px;
    font-family: AvenirLTStd-BLACK;
    font-size: 24px;
    font-weight: bold;
    color:$white;
    line-height:35px;
  }
  .title-description{
    font-family: AvenirLTStd-Roman;
    font-size: 16px;
    font-weight: bold;
    color:$white;
    line-height:35px;
  }
  .image-header{
    width:200px;
    margin-top:0px;
    margin-left:0px;
    display:none;
  }
}
