
.logo {
  height:60px;
  padding:10px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align:end;
  margin-top:20px;
}

ul.menu li {
  display: inline-block;
  border-right: 1px solid black;
}

ul.menu li:last-child {
  border: none;
}

ul.menu li a {
  display: block;
  padding: 0px 12px;
  color:black;
  text-decoration: none;
  font-size:24px;
  font-family: AvenirLTStd-Roman;
}


@media only screen and (max-width: 1000px) {
  .image-responsive{
    text-align:center;
  }
  .logo {
    height:50px;
    padding:10px;
  }
  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    text-align:center;
    margin-top:0px;
  }
  ul.menu li a {
    font-size:16px;
  }
}

