
@mixin title($font-family, $font-size, $title-color, $text-align, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  text-align: $text-align;
  padding:30px 0px;
  line-height: $line-height;
  color: $title-color;
}
