
.carousel-custom {
  background-color: $white;
}
.univ-name {
  @include title(AvenirLTStd-BLACK, 36px, $title-color-black, center, auto);
}


.logo-partner{
  text-align: right;
}

.carousel .control-prev.control-arrow:before {
  border-right: 30px solid #000000 !important;
  padding-left:100px;
  opacity: 1;
}

.carousel .control-next.control-arrow:before {
  border-left: 30px solid #000000 !important;
  padding-right:100px;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0 5px !important;
  display: inline-block !important;
  border-top: 30px solid transparent !important;
  border-bottom: 30px solid transparent !important;
  content: '';
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}
.carousel .carousel-status{
  display: none;
}

.control-dots{
  display: none;
}


.partner ul {
  list-style: none;
}

.partner ul.columns{
  text-align: left;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.partner ul li {
  font-size: 22px;
  margin-top:8px;
  margin-bottom:8px;
}

.partner ul li::before {
  content: '-';
  color:$title-color-black;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.slide{
  background-color: $white !important;
}
.selected{
  background-color: $white !important;
}



@media only screen and (max-width: 1000px) {
  
.carousel-custom {
  background-color: $white;
}
.univ-name {
  @include title(AvenirLTStd-BLACK, 24px, $title-color-black, center, auto);
  margin-top:-30px;
}

.logo-partner{
  text-align: center;
  width:100%;
}

.carousel .control-prev.control-arrow:before {
  border-right: 30px solid #000000 !important;
  padding-left:10px;
  opacity: 1;
}

.carousel .control-next.control-arrow:before {
  border-left: 30px solid #000000 !important;
  padding-right:10px;
}

.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0 5px !important;
  display: inline-block !important;
  border-top: 30px solid transparent !important;
  border-bottom: 30px solid transparent !important;
  content: '';
}
.carousel .control-arrow, .carousel.carousel-slider .control-arrow {
  opacity: 1 !important;
}
.carousel .carousel-status{
  display: none;
}

.control-dots{
  display: none;
}


.partner ul {
  list-style: none;
}

.partner ul.columns{
  text-align: left;
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}

.partner ul li {
  font-size: 16px;
  margin-top:12px;
  margin-bottom:12px;
}

.partner ul li::before {
  content: '-';
  color:$title-color-black;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
.slide{
  background-color: $white !important;
}
.selected{
  background-color: $white !important;
}

}
  