
.story{
  @include title(AvenirLTStd-Roman, 20px, $title-color-black, left, 35px);
  padding-left:40px;
  font-style: italic;
}

.name{
  @include title(AvenirLTStd-Roman, 20px, $title-color-black, left, 35px);
  margin-top:-60px;
  padding-left:40px;
  font-weight: bold;
}