.background-grey{
  background-color: $grey;
}

.timeline-title{
  @include title(AEH, 24px, $title-color-blue, center, auto);
  padding: 20px;
  height:80px;
}

.timeline-value{
  @include title(AEH, 18px, $title-color-black, center, auto);
}




@media only screen and (max-width: 1000px) {
  
  .background-grey{
    background-color: $grey;
  }
  
  .timeline-title{
    @include title(AEH, 24px, $title-color-blue, center, auto);
    padding: 20px;
    height:50px;
  }
  
  .timeline-value{
    @include title(AEH, 20px, $title-color-black, center, auto);
  }
  .col-3{
    width:100%;
    margin-top:40px;
  }
}
    